body{
    background-color: #B51963;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font: white;
    font-size: 20pt;
    font-weight: normal;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 60pt;
    font-weight: extra-bold;
    text-align: center;
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 40pt;
    font-weight: bold;
}
h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 30pt;
    font-weight: medium;
}
h4{
    font-family: monospace;
    color: white;
    font-size: 20pt;
    font-weight: medium;
}
p{
    line-height: 1.5;
}
img{
    border: solid 5px white;
    padding: 10px;
    margin: 20px;
    border-top-right-radius:30px ;
}